<div class='w-100 h-100 d-flex mt-1'>
    <%= render 'partials/employeeSidenav' %>
    <div class="content-width admin-view-page px-5">
        <h1 class="text-center mt-5 mb-5">Welcome Manager</h1>
        <h3 class=" mt-5 mb-2 px-3">Add a New Item</h3>
        <hr class=" mb-5" >
        <div class="d-flex flex-column justify-content-center px-3">
            <%= form_tag employee_additemdata_path,class: 'border px-3 py-3', method: :get do %>
                <div class="form-group">
                     <%= label_tag ('Item Name:') %>
                     <%= text_field_tag :item, params[:item], placeholder: 'Enter Item Name', autofocus: true, class: "form-control w-50 rounded" %>
                </div>
                <div class="form-group">
                     <%= label_tag ('Item Description:') %>
                     <%= text_field_tag :item_desc, params[:item_desc], placeholder: 'Enter Item Description', autofocus: true, class: "form-control w-50 rounded" %>
                </div>
                <div class="form-group">
                     <%= label_tag ('Item Price:') %>
                     <%= number_field_tag :item_price, params[:item_price], placeholder: 'Enter Item Price', autofocus: true, class: "form-control w-50 rounded" %>
                </div>

                <div>
                    <%= button_tag type: :submit, class: "btn btn-success" do %>
                        Add Item
                    <% end %>
                    <%= button_tag type: :submit, class: "btn btn-primary" ,formaction: employee_updateitemdata_path do %>
                        Update Item
                    <% end %>
                </div>
                
            <% end %>
        
        </div>

        <%# Viewing Cards %>
        <% if @items %>    
            <div class="d-flex flex-column px-3 mt-5">
                <h4>Items List </h4>
                <table class="table table-bordered table-hover col-9 mt-3">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Item Description</th>
                    <th scope="col">Item Price</th>
                    <th scope="col">Restaurant Name</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @items.each do |item| %>
                        <tr>
                        <th scope="row"><%= item.id %></th>
                        <td><%= item.item_name %></td>
                        <td><%= item.item_desc %></td>
                        <td><%= item.price %></td>
                        <td><%= item.restaurant_name %></td>
                        <td><%= link_to 'Remove',deleteitem_path(item.id),as: :delete_item, method: :delete, data: {confirm: 'Are You sure?'}, class: 'btn btn-warning' %></td>
                        </tr>
                    <% end %>
                </tbody>
                </table>
            </div>
        <% end %>
    </div>
</div>