<div class='w-100 h-100 d-flex mt-1'>
    <%= render 'partials/sidenav' %>
    <div class="content-width admin-view-page px-5">
        <h1 class="text-center mt-5 mb-5">Welcome Admin</h1>
        <h3 class=" mt-5 mb-2 px-3">Add a Restaurant Cut Percentage</h3>
        <hr class=" mb-5" >
        <div class="d-flex flex-column justify-content-center px-3">
            <%= form_tag admin_addcutpercentagedata_path,class: 'border px-3 py-3', method: :get do %>
                <div class="form-group">
                     <%= text_field_tag :restaurant, params[:restaurant], placeholder: 'Enter Restaurant Name', autofocus: true, class: "form-control w-50 rounded" %>
                </div>
                <div class="form-group">
                     <%= number_field_tag :percentage, params[:percentage], placeholder: 'Enter Percentage (<100%)', autofocus: true, class: "form-control w-50 rounded" %>
                </div>

                <div>
                    <%= button_tag type: :submit, class: "btn btn-success" do %>
                        Submit
                    <% end %>
                </div>
                
            <% end %>
        
        </div>
    </div>
</div>