<div class='w-100 h-100 d-flex mt-1'>
    <div class="w-25 border full-height side-bar">
        <div class="mt-5 text-center bg-secondary py-3">
            <%= link_to 'Add a Restaurant', admin_addrestaurant_path, method: :get, class: 'btn' %>
        </div>
        <div class="mt-5 text-center bg-info py-3">
            <%= link_to 'Add a Restaurant Cut Percentage', admin_addcutpercentage_path, method: :get, class: 'btn' %>
        </div>
    </div>
    <div class="w-75 admin-dashboard">
        <h1 class="text-center mt-5 mb-5">Welcome Admin</h1>
        <h3 class=" mt-5 mb-2 px-3">Add a Restaurant Cut Percentage</h3>
        <hr class=" mb-5" >
        <div class="d-flex flex-column justify-content-center px-3">
            <%= form_tag admin_addcutpercentagedata_path, method: :get do %>
                <div class="form-group">
                     <%= text_field_tag :restaurant, params[:restaurant], placeholder: 'Enter Restaurant Name', autofocus: true, class: "form-control w-50 rounded" %>
                </div>
                <div class="form-group">
                     <%= number_field_tag :percentage, params[:percentage], placeholder: 'Enter Percentage (<100%)', autofocus: true, class: "form-control w-50 rounded" %>
                </div>

                <div>
                    <%= button_tag type: :submit, class: "btn btn-success" do %>
                        Submit
                    <% end %>
                </div>
                
            <% end %>
        
        </div>
    </div>
</div>