<div class='w-100 h-100 d-flex mt-1'>
    <%= render 'partials/sidenav' %>
    <div class="content-width admin-view-page px-5">
        <h1 class="text-center mt-5 mb-5">Welcome Admin</h1>
        <h3 class=" mt-5 mb-2 px-3">Add a New Restaurant</h3>
        <hr class=" mb-5" >
        <div class="d-flex flex-column justify-content-center px-3">
            <%= form_tag admin_addrestaurantdata_path,class: 'border px-3 py-3', method: :get do %>
                <div class="form-group">
                     <%= label_tag ('Restaurant Name:') %>
                     <%= text_field_tag :restaurant, params[:restaurant], placeholder: 'Enter Restaurant Name', autofocus: true, class: "form-control w-50 rounded" %>
                </div>
                <div class="form-group">
                     <%= label_tag ('Manager ID:') %>
                     <%= number_field_tag :manager, params[:manager], placeholder: '(XXXX) Auto Generated', autofocus: true, class: "form-control w-50 rounded", disabled: true %>
                </div>

                <div class="form-group">
                     <%= label_tag ('Manager Email:') %>
                     <%= text_field_tag :manager_email, params[:manager_email], placeholder: 'Manager Email', autofocus: true, class: "form-control w-50 rounded" %>
                </div>

                <div class="form-group">
                     <%= label_tag ('Manager Password:') %>
                     <%= text_field_tag :manager_password, params[:manager_password], placeholder: 'Manager Password', autofocus: true, class: "form-control w-50 rounded" %>
                </div>

                <div class="form-group">
                     <%= label_tag ('Restaurant Status:') %>
                     <%= select_tag(:status, options_for_select([['Closed','0'],['Open','1']]) ,class: "form-control w-50 rounded") %>
                </div>

                <div class="form-group">
                     <%= label_tag ('Restaurant Opening Timing:') %>
                     <%= select_tag(:open_time, options_for_select([['12:00 AM','12:00 AM'],['1:00 AM','1:00 AM'],['2:00 AM','2:00 AM'],['3:00 AM','3:00 AM'],['4:00 AM','4:00 AM'],['5:00 AM','5:00 AM'],['6:00 AM','6:00 AM'],['7:00 AM','7:00 AM'],['8:00 AM','8:00 AM'],['9:00 AM','9:00 AM'],['10:00 AM','10:00 AM'],['11:00 AM','11:00 AM'],['12:00 PM','12:00 PM'],['1:00 PM','1:00 PM'],['2:00 PM','2:00 PM'],['3:00 PM','3:00 PM'],['4:00 PM','4:00 PM'],['5:00 PM','5:00 PM'],['6:00 PM','6:00 PM'],['7:00 PM','7:00 PM'],['8:00 PM','8:00 PM'],['9:00 PM','9:00 PM'],['10:00 PM','10:00 PM'],['11:00 PM','11:00 PM']]) ,class: "form-control w-50 rounded") %>
                </div>

                <div class="form-group">
                     <%= label_tag ('Restaurant Closing Time:') %>
                     <%= select_tag(:close_time, options_for_select([['12:00 AM','12:00 AM'],['1:00 AM','1:00 AM'],['2:00 AM','2:00 AM'],['3:00 AM','3:00 AM'],['4:00 AM','4:00 AM'],['5:00 AM','5:00 AM'],['6:00 AM','6:00 AM'],['7:00 AM','7:00 AM'],['8:00 AM','8:00 AM'],['9:00 AM','9:00 AM'],['10:00 AM','10:00 AM'],['11:00 AM','11:00 AM'],['12:00 PM','12:00 PM'],['1:00 PM','1:00 PM'],['2:00 PM','2:00 PM'],['3:00 PM','3:00 PM'],['4:00 PM','4:00 PM'],['5:00 PM','5:00 PM'],['6:00 PM','6:00 PM'],['7:00 PM','7:00 PM'],['8:00 PM','8:00 PM'],['9:00 PM','9:00 PM'],['10:00 PM','10:00 PM'],['11:00 PM','11:00 PM']]) ,class: "form-control w-50 rounded") %>
                </div>

                <div>
                    <%= button_tag type: :submit, class: "btn btn-success" do %>
                        Submit
                    <% end %>
                </div>
                
            <% end %>
        
        </div>
    </div>
</div>