<div class='w-100 h-100 d-flex mt-1'>
    <%= render 'partials/sidenav' %>
    <div class="content-width admin-view-page px-5">
        <h1 class="text-center mt-5 mb-5">Welcome Admin</h1>
        <% if @restaurants %>    
            <div class="d-flex flex-column align-items-center mt-5">
                <h4>My Restaurants </h4>
                <table class="table table-bordered table-hover col-9 mt-3">
                <thead>
                    <tr>
                    <th scope="col">Admin ID</th>
                    <th scope="col">Restaurant Name</th>
                    <th scope="col">Restaurant Manager ID</th>
                    <th scope="col">Restaurant Status</th>
                    <th scope="col">Restaurant Opening Time</th>
                    <th scope="col">Restaurant Closing Time</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @restaurants.each do |res| %>
                        <tr>
                        <th scope="row"><%= res.admin_id %></th>
                        <td><%= res.restaurant_name %></td>
                        <td><%= res.manager_id %></td>
                        <% if res.status == '1' %>
                            <td> Open </td>
                        <% else %>
                            <td> Closed </td>
                        <% end %>
                        <td><%= res.open_time %></td>
                        <td><%= res.close_time %></td>
                        <td><%= link_to 'Remove',deleterestaurant_path(res.id),as: :delete_restaurant, method: :delete, data: {confirm: 'Are You sure?'}, class: 'btn btn-warning' %></td>
                        </tr>
                    <% end %>
                </tbody>
                </table>
            </div>
        <% end %>
        <% if @restaurantsPercent %>    
            <div class="d-flex flex-column align-items-center mt-5">
                <h4>My Restaurants Cut Percentage </h4>
                <table class="table table-bordered table-hover col-9 mt-3">
                <thead>
                    <tr>
                    <th scope="col">Admin ID</th>
                    <th scope="col">Restaurant Name</th>
                    <th scope="col">Restaurant Cut Percentage</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @restaurantsPercent.each do |res| %>
                        <tr>
                        <th scope="row"><%= res.admin_id %></th>
                        <td><%= res.restaurant_name %></td>
                        <td><%= res.percent %></td>
                        <td><%= link_to 'Remove', deleterestaurantcut_path(res.id), method: :delete, data: {confirm: 'Are You sure?'}, class: 'btn btn-warning' %></td>
                        </tr>
                    <% end %>
                </tbody>
                </table>
            </div>
        <% end %>
    </div>
</div>