<% if request.original_url == 'http://localhost:3000/employees/sign_in' %>
    <%# User Login %>
    <div class="container mt-5">

<!-- Outer Row -->
  <div class="row justify-content-center">

  <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
    <div class="col-lg-6 d-none d-lg-block pt-5">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxUXOT1_ahaNNf_4iMhIJneQbHqeTowyZ3LjV98CBZ&s", width="500px", height="500px">
    </div>
    <div class="col-lg-6">
    <div class="p-5">
    <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
    </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group w-100">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'User Email....' %>
          </div>

          <div class="form-group w-100">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: 'User Password....' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' do %>
            <%= resource.class.human_attribute_name('remember_me') %>
          <% end %>
          </div>
          <% end %>

          <div class="form-group d-flex">
            <div class="form-group mr-2">
            <%= f.submit t('.sign_in'), class: 'btn btn-primary' %>
            </div>
            <%= render 'devise/shared/links' %>
            </div>
          <hr>
          <div class="mt-1 text-center py-2">
            <%= fa_icon 'google' %>
            <%= link_to 'Login with Google','', method: :get, class: 'btn text-center mb-1' %>
          </div>
          <div class="mt-1 text-center py-2">
            <%= fa_icon 'facebook' %>
            <%= link_to 'Login with Facebook', '', method: :get, class: 'btn text-center mb-1' %>
          </div>
        <% end %>
            <hr>
            <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
                <a class="small" href="register.html">Create an Account!</a>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>

    </div>

  </div>

</div>
    
<% else %>
<%# Admin Login %>
  <div class="mt-5 p-0 w-100 pt-5 full-height bg-light d-flex justify-content-center">

    <div class="px-5 py-3 registrationsScreen bg-dark text-white">
      <h1><%= t('.sign_in') %></h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group w-50">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Admin Email....' %>
        </div>

        <div class="form-group w-50">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control',  placeholder: 'Admin Password....' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' do %>
              <%= resource.class.human_attribute_name('remember_me') %>
            <% end %>
          </div>
        <% end %>

        <div class="form-group d-flex">
          <div class="form-group mr-2">
              <%= f.submit  t('.sign_in'), class: 'btn btn-primary' %>
          </div>
          <%= render 'devise/shared/links' %>
        </div>
      <% end %>

    </div>

  </div>
<% end %>
